
.cell {
	border-width:1px;
	border-style:solid;
	border-color:black;
}

.row {
	display: inline-block;
	white-space: nowrap;
}

.grid {
	text-align: center;
}

.wrapper {
	text-align: center;
}

h1 {
	text-align: center; 
}